@import "tailwindcss";

@theme {
  --color-gray-900: #423A3A;
  --color-red-400: #F96464;
  --color-pink-400: #CE9898;

  --font-josefin: "Josefin Sans", sans-serif;
  --text-base: 16px;
  --leading-base: 215%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Josefin Sans", sans-serif;
}